@font-face {
  font-family: ubuntu;
  src: url('/include/fonts/ubuntu/Ubuntu-R.ttf');
  font-weight: 400;
}
@font-face {
  font-family: ubuntu-l;
  src: url('/include/fonts/ubuntu/Ubuntu-L.ttf');
  font-weight: 400;
}

