body {
  font-family: ubuntu, arial;
}
li {
  list-style: none;
}
div.wrapper {
  margin: 0 auto;
  width: 980px;
  min-width: 980px;
  overflow: visible;
}
.header-bg {
  position: absolute;
  left: 50%;
  margin-left: -1006px;
  top: -25px;
  z-index: -1;
}
.logo {
  margin-left: 105px;
  margin-top: 30px;
  display: inline-block;
}
.contact p:before {
  content: "";
  height: 14px;
  width: 14px;
  background-image: url("/include/images/phone.png");
  display: inline-block;
  margin-right: 10px;
}
.contact p {
  color: #f0047f;
  font-weight: 800;
  font-size: 18px;
}
.contact {
  display: inline-block;
  float: right;
  margin-top: 15px;
}
.main-nav {
  display: inline-block;
  float: right;
  position: relative;
  top: -15px;
}
.main-nav li {
  float: left;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 12px;
}
.main-nav li a {
  color: #4c4c4c;
  text-decoration: none
}
.header-content {
  position: relative;
  display: inline;

}
.nayword-block {
  margin-top: 400px;
  margin-left: 310px;
  position: relative;
}
.nayword-block img {
  top: -35px;
}
.nayword-bg {
  position: absolute;
  z-index: -1;
}
.nayword-text {
  margin-left: 70px;
  font-size: 18px;
  color: #336699;
  width: 100%;
}
.nayword-text span {
  font-weight: 800;
  text-transform: uppercase;
}
.nayword-author {
  margin-left: 565px;
  margin-top: 40px;
  font-size: 18px;
  width: 100%;
  color: white;
}
.fb {
  position: absolute;
  left: 980px;
  top: 50px;
}
