body {
  width: 100%;
  height: auto;
  overflow-y: none;
  font-family: ubuntu, arial;
  color: #4c4c4c;
}
li {
  list-style: none;
}

div.wrapper {
  margin: 0 auto;
  width: 980px;
  min-width: 980px;
  overflow: visible;
}
/**/
/*header*/
/**/
.header-bg {
  position: absolute;
  left: 50%;
  margin-left: -1006px;
  top: -25px;
  z-index: -999;
}
.logo {
  margin-left: 105px;
  margin-top: 30px;
  display: inline-block;
}
.contact p:before {
  content: "";
  height: 14px;
  width: 14px;
  background-image: url("/include/images/phone.png");
  display: inline-block;
  margin-right: 10px;
}
.contact p {
  color: #f0047f;
  font-weight: 800;
  font-size: 18px;
}
.contact {
  display: inline-block;
  float: right;
  margin-top: 15px;
}
.main-nav {
  display: inline-block;
  float: right;
  position: relative;
  top: -15px;
}
.main-nav li {
  float: left;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 12px;
}
.main-nav li a {
  color: #4c4c4c;
  text-decoration: none
}
.header-content {
  position: relative;
  display: inline;

}
.nayword-block {
  margin-top: 400px;
  margin-left: 310px;
  position: relative;
  z-index: 2;
}
.nayword-block img {
  top: -35px;
}
.nayword-bg {
  position: absolute;
  z-index: -1;
}
.nayword-text {
  margin-left: 70px;
  font-size: 18px;
  color: #336699;
  width: 100%;
  position: relative;
  z-index: 2;
}
.nayword-text span {
  font-weight: 800;
  text-transform: uppercase;
}
.nayword-author {
  margin-left: 565px;
  margin-top: 40px;
  font-size: 18px;
  width: 100%;
  color: white;
}
.fb {
  position: absolute;
  left: 980px;
  top: 50px;
}
/**/
/*servises*/
/**/
.block {
  position: relative;
}
.servises {
  height: 670px;
}
.servises-bg {
  position: absolute;
  z-index: -1;
  left: -30px;
  top: -15px;
}
.servises .wrap-h1 {
  margin-top: -20px;
}
.servises .wrap-h1 h1 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  position: relative;
  margin-left: 180px;
  margin-top: 35px;
}
.servises .wrap-h1 h1:before {
  content: '';
  height: 47px;
  width: 47px;
  background-image: url('/include/images/wrench.png');
  display: inline-block;
  position: absolute;
  left: -90px;
  top: -5px;
}
.triangles {
  display: block;
  clear: both;
  margin: 120px 0 50px 95px;
  height: 170px;
}
.triangle-block {
  float:left;
  width: 110px;
  height: auto;
}
.img-bg {
  position: absolute;
}
.img-main {
  position: relative;
  top: 70px;
  left: 60px
}
.triangle-block:nth-child(4) .img-main {
  top: 20px;
  left: 55px;
}
.triangle-block:nth-child(2) .img-main {
  top: 20px;
  left: 75px;
}
.triangle-block:nth-child(6) .img-main {
  top: 20px;
  left: 65px;
}
.servises-category {
  display: block;
  float: left;
  width: 300px;
  margin: 0 13px;
  text-align: center;
}
.servises-category h2 {
  color: #369;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 50px;
  height: 50px;
}
.servises-category li {
  color: #4c4c4c;
  margin-bottom: 35px;
  position: relative;
}
.servises-category li:nth-child(1):after,
.servises-category li:nth-child(2):after {
  content: " ";
  display: block;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 30px;
  left: 140px;
  background-color: #ec008c;
}

/**/
/*whywe */
/**/
.why .absolute-image {
  position: absolute;
  left:50%;
  margin-left: -1000px;
  z-index: -1000;
}
.why .wrap-h1 {
  position: relative;
  float: right;
}
.why .wrap-h1 .abs {
  position: absolute;
  z-index: -1;
  right: -1px;
  top: -10px;
}
.why .wrap-h1 h1:after {
  content: '';
  display: inline;
  height: 56px;
  width: 53px;
  background-image: url('/include/images/star.png');
  position: absolute;
  top: -5px;
  right: -80px
}
.why .wrap-h1 h1 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  position: relative;
  margin-right: 180px;
  margin-top: 5px;
}
.why {
  position: relative;
}
.guarantee-item {
  position: relative;
}
.wrap-for-animate:nth-child(1) div img {
  margin-left: -10px
  z-index: 12;
  position: relative;
}
.guarantee-item:nth-child(1) .abs {
  position: absolute;
  top: 180px;
  right: -25px;
  z-index: 10;
}
.guarantee-item:nth-child(1) .description p {
  width: 170px;
  position: absolute;
  z-index: 10;
  top: 235px;
  right: 150px
}
.guarantee-item:nth-child(1) .description p span {
  color: #ec008c;
  font-size: 24px;
  font-weight: 800;
  display: block;
}
.guarantee-item:nth-child(2) {
  height: 361px;
}
.wrap-for-animate:nth-child(2) div img {
  margin-top: 50px;
  float:right;
  margin-right: -50px;
  z-index: 10;
  position: relative;
}
.guarantee-item:nth-child(2) .abs {
  position: absolute;
  top: 180px;
  margin-left: 80px;
  z-index: 10;
}
.guarantee-item:nth-child(2) .description p {
  width: 185px;
  position: absolute;
  z-index: 10;
  top: 230px;
  left: 150px
}
.guarantee-item:nth-child(2) .description p span {
  color: #ec008c;
  font-size: 24px;
  font-weight: 800;
}
.guarantee-item:nth-child(3) {
  margin-top: 50px;
}
.wrap-for-animate:nth-child(3) div img {
  margin-left: -10px
  z-index: 12;
  position: relative;
}
.guarantee-item:nth-child(3) .abs {
  position: absolute;
  top: 90px;
  right: -25px;
  z-index: -1;
}
.guarantee-item:nth-child(3) .description p {
  width: 170px;
  position: absolute;
  z-index: 10;
  top: 145px;
  right: 150px
}
.guarantee-item:nth-child(3) .description p span {
  color: #ec008c;
  font-size: 24px;
  font-weight: 800;
  display: block;
}
.guarantee-item:nth-child(4) {
  margin-top: 0px;
  height: 401px;
  margin-top: -70px
}
.guarantee-item:nth-child(4) div img {
  float:right;
  margin-right: 00px;
  z-index: 10;
  position: relative;
}
.guarantee-item:nth-child(4) .abs {
  position: absolute;
  top: 230px;
  margin-left: 240px;
  z-index: 10;
}
.guarantee-item:nth-child(4) .description p {
  width: 135px;
  position: absolute;
  z-index: 10;
  top: 280px;
  left: 300px
}
.guarantee-item:nth-child(4) .description p span {
  color: #ec008c;
  font-size: 24px;
  font-weight: 800;
}
.why {
  margin-bottom: 50px;
}
/**/
/*tv*/
/**/
.tv .abs {
  position: absolute;
  left: -50%;
  z-index: -999;
}
.tv .wrap-h1 .abs {
  z-index: -888;
  left: -0;
  top: -20px
}
.tv .wrap-h1 h1 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  display: inline-block;
  position: relative;
  margin-left: 120px;
  top: 5px;
}
.tv .wrap-h1 h1:after {
  content: '';
  display: inline;
  height: 49px;
  width: 41px;
  background-image: url('/include/images/tv.png');
  position: absolute;
  top: -15px;
  left: -70px;
}
.tv .leaders-logos {
  display: block;
  position: relative;
}
.tv .leaders-logos .abs {
  position: absolute;
  top: -140px;
  left: -100px;
}
.tv .leaders {
  margin: 50px 0 0 220px;

}
.tv .leaders h2 {
  color: #ea7912;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 300;
  margin-left: 160px;
  margin-bottom: 35px;
}
.tv .leaders-logos li {
  width: auto;
  display: inline-block;
  margin: 0 15px;
}
.tv .tv-garantee-item {
  font-size: 14px;
  color: #255889;
  margin-bottom: 47px;
}
.tv .tv-garantee-item {

}
.tv .tv-garantees {
  margin: 90px 0 0 473px
}
.tv .tv-garantee-item span {
  text-transform: uppercase;
  font-weight: bolder;
}
.tv .tv-family {
  display: inline-block;
  position: absolute;
  top: 220px;
}
.tv {
  height: 697px;
}
/**/
/*radio*/
/**/
.radio {
  position: relative;
  height: 585px
}
.radio .abs {
  position: absolute;
  left: 50%;
  margin-left: -1001px;
  z-index: -1000;
  top: -105px;
}
.radio .wrap-h1 {
  float: right;
}
.radio .wrap-h1 .abs {
  left: 601px;
  top: -130px;
  z-index: -2;
  margin-left: 0;
}
.radio .wrap-h1 h1:after {
  content: '';
  display: inline;
  height: 44px;
  width: 30px;
  background-image: url('/include/images/radio.png');
  position: absolute;
  top: -5px;
  right: -70px;
}
.radio .wrap-h1 h1 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  position: relative;
  margin-right: 190px;
  margin-top: -105px;
}
.radio .benefits .abs {
  left: 0;
  margin: 0;
}
.radio .benefits {
  position: relative;
/*  float: left;*/
}
.radio .benefits h2 {
  font-size: 24px;
  font-weight: 400;
  color: #686d90;
  margin-left: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-transform: uppercase;
}
.radio .benefits-items {
  width: auto;
  display: inline-block;
  float: left;
}
.radio .benefits-items p {
  margin-top: 60px;
  margin-left: 20px;
  font-size: 14px;
  color: #255889;
}
.radio .benefits li.benefits-item dd {
  padding-left: 20px;
}
.radio .benefits li.benefits-item span {
  font-weight: 800;
  text-transform: uppercase;
}
.radio .benefits li.benefits-item {
  color: #255889;
  padding-left: 35px;
  margin-bottom: 20px;
  line-height: 1.5;
  width: 430px;
  position: relative;
}
.radio .benefits li.benefits-item:before {
  content: "";
  position: absolute;
  display: inline-block;
  background: url('/include/images/dot-pink.png');
  height: 12px;
  width: 11px;
  left: 0;
  top: 5px;
}
.radio .radio-list {
/*  float: right;*/
  position: relative;
  display: inline-block;
}
.radio .radio-list .abs {
  position: absolute;
  left: 20px;
}
.radio .radio-item p{
  position: relative;
  line-height: 1.2;
  color: #255889;
}

.radio .radio-item:nth-child(1) .radio-item-img {
  position: absolute;
  top: 140px;
  left: 100px;
  z-index: 5;
}
.radio .radio-item:nth-child(1) p:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 15px;
  background: url('/include/images/s-ppl.png');
  left: -25px;
}
.radio .radio-item:nth-child(1) p {
  position: absolute;
  top: 90px;
  left: 115px;
}

.radio .radio-item:nth-child(2) .radio-item-img {
  position: absolute;
  top: 75px;
  left: 220px;
  z-index: 5;
}
.radio .radio-item:nth-child(2) p:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 15px;
  background: url('/include/images/s-ppl.png');
  left: -25px;
}
.radio .radio-item:nth-child(2) p {
  position: absolute;
  top: 20px;
  left: 205px;
}

.radio .radio-item:nth-child(3) .radio-item-img {
  position: absolute;
  top: 35px;
  left: 305px;
  z-index: 5;
}
.radio .radio-item:nth-child(3) p:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 15px;
  background: url('/include/images/s-ppl.png');
  left: -25px;
}
.radio .radio-item:nth-child(3) p {
  position: absolute;
  top: -55px;
  left: 220px;
  width: 170px;
}

.radio .radio-item:nth-child(4) .radio-item-img {
  position: absolute;
  top: -25px;
  left: 420px;
  z-index: 5;
}
.radio .radio-item:nth-child(4) p:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 15px;
  background: url('/include/images/s-ppl.png');
  left: -25px;
}
.radio .radio-item:nth-child(4) p {
  position: absolute;
  top: -105px;
  left: 440px;
  width: 90px;
}

.radio .radio-item:nth-child(5) .radio-item-img {
  position: absolute;
  top: 275px;
  left: 90px;
  z-index: 5;
}
.radio .radio-item:nth-child(5) p:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 15px;
  background: url('/include/images/s-ppl.png');
  left: 25px;
  top: -25px
}
.radio .radio-item:nth-child(5) p {
  position: absolute;
  top: 390px;
  left: 30px;
  width: 80px;
}

.radio .radio-item:nth-child(6) .radio-item-img {
  position: absolute;
  top: 225px;
  left: 198px;
  z-index: 5;
}
.radio .radio-item:nth-child(6) p:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 15px;
  background: url('/include/images/s-ppl.png');
  right: 5px;
}
.radio .radio-item:nth-child(6) p {
  position: absolute;
  top: 330px;
  left: 220px;
  width: 150px;
}

.radio .radio-item:nth-child(7) .radio-item-img {
  position: absolute;
  top: 155px;
  left: 315px;
  z-index: 5;
}
.radio .radio-item:nth-child(7) p:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 15px;
  background: url('/include/images/s-ppl.png');
  right: 5px;
}
.radio .radio-item:nth-child(7) p {
  position: absolute;
  top: 270px;
  left: 330px;
  width: 110px;
}

.radio .radio-item:nth-child(8) .radio-item-img {
  position: absolute;
  top: 95px;
  left: 420px;
  z-index: 5;
}
.radio .radio-item:nth-child(8) p:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 15px;
  background: url('/include/images/s-ppl.png');
  right: 5px;
}
.radio .radio-item:nth-child(8) p {
  position: absolute;
  top: 200px;
  left: 440px;
  width: 110px;
}
